.fsection {
    width: 100vw;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    width: 50%;
    aspect-ratio: 2/1;
    display: grid;
    position: relative;
    grid-template-columns: 50% repeat(2, 25%);
    grid-template-rows: 34% repeat(2, 33%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
 
.parent > div {
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.div1 { 
    grid-area: 1 / 1 / 4 / 2;
    background-color: #ffb4a2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.div1 > h1 {
    width: 100%;
    font-family: 'Inter';
    font-size: 300%;
    text-align: center;
}

.div1 > h1:first-line {
    font-size: 3rem;
    font-weight: 200;
}

.div1 > div {
    width: 90%;
    position: relative;
    display: flex;
    align-self : flex-end;
    justify-content: flex-end;
}

.div1 > div > img {
    width: 100%;
}




.div1 > div > div {
    position: absolute;    
    font-family: 'Inter';
    display: block;
    left: -30px;
    top: -30px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #ff3300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div1 p {color: white;}
.div1 > div div p::first-line {
    font-weight: bolder;
}

.div2 { 
    grid-area: 1 / 2 / 3 / 4; 
    background-color: #e9edc9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 > div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.div2 > img {
    width: 50%;
}

.div2 h1 {
    font-family: 'Inter';
}



.show_ingre {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: green;
    cursor: pointer;
    aspect-ratio: 2/1;
    width: 70%;
    font-size: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_ingre p {
    user-select: none;
    margin: 0;
    font-weight: 800;
    font-family: "Inter";
    color: white;
}

.div3 { 
    grid-area: 3 / 2 / 4 / 4; 
    background-color: blue;     
}
