{%  extends 'applipizza/base.html' %}
{% block main %}
    <div class="mt-8 p-6 max-w-md mx-auto bg-white rounded-md shadow-md">
    <h2 class="text-2xl font-semibold mb-4 text-center">Ajout d'un ingrédient</h2>
    <form enctype="multipart/form-data" action="#" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="idIngredient" class="block text-sm font-semibold text-gray-600">Nom de l'ingrédient</label>
            <input type="text" name="nomIngredient" maxlength="50" required id="idIngredient"  class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
        </div>
        <div class="mb-4">
            <label for="id_image" class="block text-sm font-semibold text-gray-600">Image de l'ingrédient</label>
            <div class="flex items-center mt-1">
                <label for="imageUpload" class="cursor-pointer">
                    <i class="bi bi-file-image text-indigo-500 text-xl"></i>
                    <span class="ml-2 text-indigo-500">Choisir une image</span>
                </label>
                <input type="file" accept="image/*" name="imageIng" id="imageUpload" class="hidden">
            </div>
        </div>
        <button type="submit" class="w-full bg-indigo-500 text-white p-2 rounded-md hover:bg-indigo-600 shadow-md">
            Envoyer
        </button>
    </form>
</div>
{% endblock %}