{% load static %}
<header class="bg-white text-gray-800 p-0 md:px-10 flex flex-col md:flex-row justify-between items-center shadow-md mx-auto w-70">

    <!-- Navigation Links (Left-aligned, initially hidden on smaller screens) -->
    <div class="md:flex space-x-4 mb-2 md:mb-0 hidden md:block">
        <a href="/pizzas/" class="text-gray-800 hover:text-blue-500 transition duration-300 font-bold text-lg">Nos Pizzas</a>
        <a href="/ingredients/" class="text-gray-800 hover:text-blue-500 transition duration-300 font-bold text-lg">Nos Ingredients</a>
    </div>

    <!-- Logo and Brand Name (Centered with rearranged order) -->
    <div class="flex items-center space-x-1 flex-grow justify-center mb-4 md:mb-0" style="margin: 0"> <!-- Increased margin to mb-4 -->
        <p class="text-lg font-bold font-inter">PIZZA</p>
        <img src="{% static 'logo.svg' %}" alt="Logo" class="h-16 w-16 mx-1"> <!-- Adjusted margin here -->
        <p class="text-lg font-bold font-inter">D'EL NICO</p>
    </div>

    <!-- Action Buttons (Login and Sign Up, initially hidden on smaller screens) -->
    <div class="md:flex space-x-4 items-center mb-2 md:mb-0 hidden"> <!-- Centered vertically on mobile, side-by-side on larger screens -->
        <!-- Login Button -->
        <form method="get" action="/login/" class="m-0">
            <button type="submit" class="text-gray-800 hover:text-blue-500 transition duration-300 font-bold text-lg">Login</button>
        </form>

        <!-- Sign Up Button with smaller size -->
        <form method="get" action="/register/" class="m-0">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md font-bold text-lg">Sign Up</button> <!-- Adjusted size to px-4 and py-2 -->
        </form>
    </div>

</header>

