{%  extends 'applipizza/base.html' %}
{% block main %}
<h1 class="text-3xl font-semibold mb-8 text-center m-8">Liste des Ingrédients</h1>

<section class="flex flex-wrap justify-center gap-6">
    {% for ing in ingredients %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img src="{{ MEDIA_URL }}{{ ing.imageIng }}" alt="{{ ing.nomIngredient }}" class="w-full h-48 object-cover object-center">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center">{{ ing.nomIngredient|title }}</div>
                <div class="edit flex justify-center items-center">
                    <form action="/ingredients/{{ ing.idIngredient }}/update" method="get">
                        <button class="text-indigo-500 hover:text-indigo-700" type="submit">
                            <i class="bi bi-pencil-fill"></i> Edit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

<form action="/ingredients/add" method="get" class="mt-8 text-center">
    <button class="bg-indigo-500 text-white p-3 rounded-full hover:bg-indigo-600">
        <h1 class="text-lg">Ajouter un Ingrédient</h1>
    </button>
</form>












{% endblock %}
