{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>site de try</title>
        <link rel="stylesheet" href="{% static 'css/pizza/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/homeCSS/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/homeCSS/body.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
    {% include 'applipizza/header.html' %}
        <section class="container_pizza">
            {% for piz in pizzas %}
                <div class="card">
                <div class="card-img">
                    <img class="img" src="{{ MEDIA_URL }}{{ piz.imagePizza }}" alt="">
                </div>
                <div class="card-info">
                    <form action="/pizzas/{{ piz.idPizza }}" method="get">
                        <button type="submit"><p class="text-title">{{ piz.nomPizza }}</p></button>
                    </form>
                </div>
                <div class="card-footer">
                    <span class="text-title">${{ piz.prix }}</span>
                    <div class="edit">
                        <div class="card-button">
                            <i class="bi bi-cart"></i>
                        </div>
                        <form class="card-button" method="get" action="{{ piz.idPizza }}/update" style="margin-bottom: 0px;" >
                            <button type="submit"><i class="bi bi-pencil-square"></i></button>
                        </form>
                        <form class="card-button" method="get" action="{{ piz.idPizza }}/delete" style="margin-bottom: 0px;" >
                            <button type="submit"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </div>
                </div>
            {% endfor %}

        </section>
            <form action="/pizzas/add" method="get">
                <button type="submit" class="">
                    <h1 class="pls" >+</h1>
                </button>
            </form>
    </body>
</html>

