<div class="collapse navbar-collapse" id="navbarText" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
                    <a class="nav-link" href="/pizzas/" >les pizzas</a>
                </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item" >
            <a class="nav-link" href="/panier/">panier</a>
            <a class="nav-link" href="/logout/">command</a>
            <a class="nav-link" href="/logout/">déconnexion</a>
        </li>
    </ul>
</div>